body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: Arial, sans-serif;
  }
 
 
  .pokebola {
    height: 50px;
  }
 
  #pokedex-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
 
  #header {
    background-color: #c830ff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  .titulo {
    color: gold;
  }
 
  #pesquisar {
    margin-top: 20px;
  }
 
  #pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  .poke {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 19%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
 
  .poke img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
 
  .poke h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
 
  a{
    color: black;
  }
  footer {
    background-color: #c830ff;
    text-align: center;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
  }

